.apply {
  @include flex-all-sb;

  padding: 60px 80px;
  background: var(--apply-gd-color);
  background-blend-mode: screen, normal;
  backdrop-filter: blur(15px);
  border-radius: 30px;
  border: 2px solid var(--border-color);

  @include big-desktop {
    flex-direction: column;
  }

  @include mobile {
    padding: 20px;
  }

  &__title {
    max-width: 473px;

    @include big-desktop {
      max-width: 403px;
      margin-bottom: 20px;
    }

    @include mobile {
      max-width: 100%;
    }
  }

  &__form {
    max-width: 403px;
    display: flex;
    flex-direction: column;

    @include mobile {
      max-width: 100%;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    color: var(--light-color);

    @include mobile {
      font-size: 14px;
      line-height: 15px;
    }
  }

  &__label {
    @include mb(20px);

    .just-validate-error-label {
      padding-top: 5px;
      color: var(--gold-color) !important;
    }
  }

  &__input {
    width: 100%;
    height: 40px;
    background-color: var(--light-color);
    border-radius: 27px;
    padding: 0 15px;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: var(--black-color);

    &:focus {
      outline: 2px solid var(--gold-color);
      outline-offset: 4px;
    }

    &::placeholder {
      color: var(--placeholder-color);
    }
  }

  &__contact {
    display: flex;
    margin-bottom: 23px;

    @include mobile {
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
  }

  &__social {
    display: flex;
  }

  &__btn {
    margin-right: 13px;
    background-position: center right 52px;

    @include mobile {
      margin-right: 0;
      margin-bottom: 12px;
    }
  }

  &__text {
    margin: 0;
    max-width: 139px;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: right;
    color: var(--light-color);
    opacity: 0.5;
  }

  &__links {
    display: flex;
    flex-direction: column;
    padding-left: 15px;

    @include mobile {
      flex-direction: row;
    }
  }

  &__link {
    @include mb(8px);

    position: relative;
    display: block;
    width: 20px;
    height: 20px;

    @include mobile {
      @include mb(0);

      @include mr(5px);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--insta {
      background-image: url(../img/insta.svg);
    }

    &--tg {
      background-image: url(../img/tg.svg);
    }

    &:focus {
      outline: 2px solid var(--gold-color);
      outline-offset: 4px;
    }
  }

  &__terms {
    display: flex;

    @include mobile {
      display: block;
      max-width: 100%;
    }
  }
}
