.header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding: 16px 0;
  z-index: 200;
  transition: background-color 0.3s ease;

  &__container {
    display: flex;
    align-items: center;

    @include tablet {
      justify-content: space-between;
    }
  }

  &__logo {
    margin-right: 108px;

    @include tablet {
      margin-right: 0;
    }
  }
}

.header--fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7.5px);

  @include tablet {
    display: none;
  }
}
