.hero {
  position: relative;
  background-color: var(--bg-color);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 816px;
    height: 254px;
    background-image: url(../img/hero-bg/hero-top-bg.webp);
    background-repeat: no-repeat;
    background-position: top right;
    z-index: -2;
  }

  &__wrapper {
    display: flex;
    padding-left: max(15px, calc(100% - var(--content-width)) / 2);

    @include big-desktop {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__content {
    padding-top: 238px;
    padding-bottom: 180px;
    max-width: 590px;

    @include big-desktop {
      padding-bottom: 0;
    }

    @include mobile {
      padding-top: 60px;
    }
  }

  &__hidden {
    display: none;

    @include big-desktop {
      display: block;
      margin-left: auto;
    }
  }

  &__course {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 31px;
    line-height: 31px;
    color: var(--emerald-color);

    @include mobile {
      font-size: 20px;
      line-height: 34px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: var(--light-color);

    @include mobile {
      font-size: 27px;
      line-height: 32px;
    }
  }

  &__descr {
    margin-bottom: 30px;
    max-width: 499px;
  }

  &__btn {
    @include mobile {
      margin: 0 auto;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .hero-scene {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include big-desktop {
      display: none;
    }

    &__bg {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &__img {
      position: absolute;

      &--1 {
        top: -328px;
        right: 0;
        z-index: -1;
      }

      &--2 {
        top: -460px;
        right: 0;
        z-index: -2;
      }

      &--3 {
        top: -800px;
        right: 0;
        z-index: -3;
      }
    }

    &__main {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__man {
      position: absolute;
      right: 430px;
      top: -620px;
      z-index: -2;
    }

    &__arms {
      @include arm;

      position: absolute;
      right: 382px;
      top: -460px;
      animation: arm 3s linear 0s infinite normal forwards;
    }

    &__computer {
      @include computer;

      position: absolute;
      top: -625px;
      right: 305px;
      animation: computer 2.5s linear 0s infinite normal forwards;
    }

    &__second {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__decor {
      position: absolute;

      &--1 {
        top: -380px;
        right: 762px;
        animation: elemRotateBottomRight 3s linear 0.3s infinite normal forwards;
      }

      &--2 {
        top: -433px;
        right: 693px;
        animation: elemRotateBottomRight 4s linear 0.3s infinite normal forwards;
      }

      &--3 {
        @include elemRotate;

        top: -463px;
        right: 652px;
        animation: elemRotate 4s linear 0.3s infinite normal forwards;
      }

      &--4 {
        top: -617px;
        right: 487px;
        animation: elemVibrate 4s linear 0.3s infinite normal forwards;
      }

      &--5 {
        top: -512px;
        right: 682px;
        animation: elemRotateTopRight 4s linear 0.3s infinite normal forwards;
      }

      &--6 {
        top: -457px;
        right: 529px;
        z-index: -3;
        animation: elemRotateTopRight 4s linear 0.3s infinite normal forwards;
      }

      &--7 {
        top: -477px;
        right: 472px;
        animation: elemRotateTopLeft 4s linear 0.3s infinite normal forwards;
      }

      &--8 {
        top: -550px;
        right: 459px;
        animation: elemRotateTopLeft 4s linear 0.3s infinite normal forwards;
      }

      &--9 {
        top: -554px;
        right: 368px;
        animation: elemRotate 4s linear 0.3s infinite normal forwards;
      }

      &--10 {
        top: -483px;
        right: 417px;
        animation: elemRotateBottomRight 4s linear 0.3s infinite normal forwards;
      }

      &--11 {
        top: -661px;
        right: 376px;
        animation: elemRotateTopLeft 4s linear 0.3s infinite normal forwards;
      }

      &--12 {
        top: -580px;
        right: 266px;
        animation: elemRotateBottomRight 5s linear 0.3s infinite normal forwards;
      }

      &--13 {
        top: -494px;
        right: 207px;
        animation: elemRotate 4s linear 0.3s infinite normal forwards;
      }

      &--14 {
        top: -738px;
        right: 226px;
        animation: elemVibrate 4s linear 0.3s infinite normal forwards;
      }

      &--15 {
        top: -769px;
        right: 33px;
        animation: elemRotateBottomRight 4s linear 0.3s infinite normal forwards;
      }
    }
  }

  &__icon {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__icon-bg {
    position: absolute;

    &--1 {
      @include elemRotateBottomRight;

      bottom: 130px;
      left: 60px;
      animation: elemRotateBottomRight 3s linear 0.3s infinite normal forwards;
    }

    &--2 {
      @include elemVibrate;

      bottom: -40px;
      left: 0;
      animation: elemVibrate 4s linear 0.3s infinite normal forwards;
    }

    &--3 {
      @include elemRotateTopRight;

      @include mobile {
        bottom: -60px;
        left: 125px;
      }

      bottom: -76px;
      left: 290px;
      animation: elemRotateTopRight 5s linear 0.3s infinite normal forwards;
    }

    &--4 {
      @include elemRotateTopLeft;

      @include mobile {
        left: 300px;
      }

      bottom: 86px;
      left: 345px;
      animation: elemRotateTopLeft 4s linear 0.3s infinite normal forwards;
    }

    &--5 {
      @include elemRotateTopLeft;

      @include mobile {
        bottom: 60px;
      }

      bottom: 94px;
      left: 200px;
      animation: elemRotateTopLeft 5s linear 0.3s infinite normal forwards;
    }
  }

  &__timer {
    padding: 40px 0;
    text-align: center;
    background: var(--timer-gd-color);
    background-blend-mode: screen, normal;
    backdrop-filter: blur(15px);

    @include mobile {
      padding: 20px 0;
    }
  }
}
