.nav {
  @include tablet {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 190px;
    padding: 30px 0;
    border-radius: 30px 0 0 30px;
    background-color: var(--light-color);
    overflow-y: auto;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  &__list {
    display: flex;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    @include mr(40px);

    @include big-desktop {
      @include mr(18px);
    }

    @include tablet {
      @include mr(0);

      @include mb(11px);

      display: block;
      width: 100%;
      font-weight: 700;
      font-size: 17px;
      line-height: 22px;
      color: var(--black-color);
      padding-bottom: 9px;
      padding-left: 30px;
      border-bottom: 1px solid #eeeeee;
    }

    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: var(--light-color);
  }

  &__link {
    position: relative;
    overflow: hidden;
    color: currentColor;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: var(--gold-color);
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s;
      opacity: 0;
    }

    &:focus {
      outline: 2px solid var(--gold-color);
      outline-offset: 4px;
    }

    @include hover {
      &::after {
        @include fillAnimation;

        animation: fillAnimation 0.3s linear forwards;
        transform: scaleX(1);
        opacity: 1;
      }
    }

    &:active {
      color: var(--placeholder-color);
    }
  }
}

.nav.menu--active {
  transform: none;
}
