.reviews {
  position: relative;
  padding-top: 130px;
  background-color: var(--governor-color);
  z-index: 1;

  @include mobile {
    padding-top: 50px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/reviews/reviews-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;
  }

  &__decor {
    position: relative;
    width: 100%;
    height: 0;
  }

  &__decor-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__decor-bg {
    position: absolute;

    @include tablet {
      left: 0;
      right: 0;
    }

    &--1 {
      @include elemTwinkle;

      top: -50px;
      left: 300px;
      animation: elemTwinkle 8s infinite;
    }

    &--2 {
      top: -100px;
      left: -300px;
      animation: elemTwinkle 10s infinite;
    }

    &--3 {
      top: 400px;
      left: -150px;
      animation: elemTwinkle 14s infinite;
    }

    &--4 {
      top: 500px;
      right: -200px;
      animation: elemTwinkle 16s infinite;
    }

    &--5 {
      top: 300px;
      right: -150px;
      animation: elemTwinkle 18s infinite;
    }

    &--6 {
      left: 200px;
      bottom: -700px;
      animation: elemTwinkle 20s infinite;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    margin-bottom: 30px;

    @include tablet {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__item {
    @include mr(20px);

    max-width: 555px;
    background-color: var(--light-color);
    border-radius: 30px;

    @include tablet {
      @include mr(0);

      @include mb(20px);
    }
  }

  .video-block {
    height: 298px;
    border-radius: 30px 30px 0px 0px;
  }

  &__content {
    padding: 14px 40px 40px;

    @include mobile {
      padding: 20px;
    }
  }

  &__name {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    color: var(--mine-color);
  }

  &__descr {
    color: var(--mine-color);
  }

  &__link {
    display: block;
    max-width: 364px;
    margin: 0 auto;

    @include mobile {
      max-width: 100%;
      text-align: center;
    }
  }

  .btn--stroke {
    @include hover {
      background-image: none;
      box-shadow: none;
    }
  }
}
