.stage {
  position: relative;
  padding-top: 130px;
  background-color: var(--bg-color);
  z-index: 0;

  @include mobile {
    padding-top: 50px;
  }

  &__decor {
    position: relative;
    width: 100%;
    height: 0;
  }

  &__decor-wrapper {
    position: absolute;
    width: 379px;
    height: 404px;
    top: -130px;
    right: -300px;
    z-index: -2;

    @include big-desktop {
      display: none;
    }
  }

  &__decor-bg {
    position: absolute;

    &--1 {
      top: -40px;
      left: 100px;
      animation: elemRotateTopRight 3s linear 0.3s infinite normal forwards;
    }

    &--2 {
      top: 70px;
      left: 200px;
      animation: elemVibrate 4s linear 0.3s infinite normal forwards;
    }

    &--3 {
      top: -40px;
      right: 20px;
      animation: elemRotateTopLeft 4s linear 0.3s infinite normal forwards;
    }

    &--4 {
      bottom: 50%;
      right: 0;
      animation: elemRotateTopLeft 5s linear 0.3s infinite normal forwards;
    }
  }

  &__wrapper {
    display: flex;
    align-items: start;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__content {
    padding-top: 20px;
    max-width: 528px;
    margin-right: 70px;

    @include tablet {
      padding-top: 0;
      padding-bottom: 20px;
      margin-right: 0;
    }
  }

  &__step {
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 31px;
    line-height: 31px;
    color: var(--emerald-color);
  }

  &__title {
    margin-bottom: 13px;
  }

  &__descr {
    max-width: 506px;
  }

  .video-block {
    max-width: 555px;
  }
}
