.steps {
  position: relative;
  padding-top: 173px;
  background-color: var(--bg-color);
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/steps/steps-bg1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -90px center;
    z-index: -4;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40%;
    background-image: url(../img/steps/steps-bg2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    z-index: -3;
  }

  &__title {
    max-width: 332px;
    margin-bottom: 30px;

    @include big-desktop {
      margin-bottom: 0;
    }
  }

  &__list {
    position: relative;
    display: flex;
    counter-reset: steps;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 400px;
      background-image: url(../img/steps/steps-bg-line.svg);
      background-repeat: no-repeat;
      background-size: inherit;
      background-position: center;
      z-index: -1;
    }

    @include big-desktop {
      flex-direction: column;

      &::after {
        display: none;
      }
    }
  }

  &__item {
    @include mr(20px);

    display: flex;
    flex-direction: column;

    @include big-desktop {
      max-width: 500px;

      &.steps__item {
        margin: 0 auto;
      }
    }

    @include mobile {
      max-width: 100%;
    }
  }

  &__wrapper {
    padding-bottom: 50px;

    &--one {
      padding-top: 250px;
    }

    &--two {
      padding-top: 80px;
    }

    &--three {
      padding-top: 200px;
    }

    @include big-desktop {
      padding-top: 50px;
    }
  }

  &__content {
    background-color: var(--light-color);
    padding: 20px;
    border-radius: 30px;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 31px;
    line-height: 31px;
    color: var(--mine-color);

    @include mobile {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__text {
    color: var(--mine-color);
  }

  &__inner {
    position: relative;
    flex-grow: 1;

    &::after {
      @include flex-all-center;

      position: absolute;
      content: counter(steps);
      counter-increment: steps;
      width: 74px;
      height: 74px;
      background-color: var(--light-color);
      border-radius: 100%;
      font-weight: 700;
      font-size: 48px;
      line-height: 23px;
      color: var(--mine-color);
    }

    &::before {
      content: "";
      position: absolute;
      width: 297px;
      height: 283px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: 1;
    }

    &--one {
      top: 100px;
      right: 10px;

      &::after {
        bottom: 0;
        left: 0;
      }

      &::before {
        @include updown;

        top: -50px;
        right: 0;
        background-image: url(../img/steps/steps-lvl1.svg);
        animation: updown 5s linear infinite;
      }

      @include big-desktop {
        top: 0;
      }
    }

    &--two {
      &::after {
        top: 0;
        right: 0;
      }

      &::before {
        top: -20px;
        right: 50px;
        background-image: url(../img/steps/steps-lvl2.svg);
        animation: updown 4s linear infinite;
      }
    }

    &--three {
      &::after {
        bottom: 0;
        right: 0;
      }

      &::before {
        top: -90px;
        right: 60px;
        background-image: url(../img/steps/steps-lvl3.svg);
        animation: updown 3s linear infinite;
      }
    }

    &--four {
      &::after {
        top: 0;
        right: 0;
      }

      &::before {
        top: 0;
        right: 65px;
        background-image: url(../img/steps/steps-lvl4.svg);
        animation: updown 2s linear infinite;
      }
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__container {
    padding-top: 200px;
  }

  &__decor {
    position: relative;
    width: 100%;
    height: 0;
  }

  &__decor-wrapper {
    position: absolute;
    width: 525px;
    height: 525px;
    top: 95px;
    left: -150px;
    z-index: -1;
  }

  &__decor-bg {
    position: absolute;

    &--1 {
      animation: elemRotate 25s linear 0.3s infinite normal forwards;
    }

    &--2 {
      top: 0px;
      left: 250px;
      animation: elemRotateBottomRight 4s linear 0.3s infinite normal forwards;
    }

    &--3 {
      top: 50px;
      left: -50px;
      animation: elemRotateBottomRight 3s linear 0.3s infinite normal forwards;
    }

    &--4 {
      top: 80px;
      left: -120px;
      animation: elemVibrate 6s linear 0.3s infinite normal forwards;
    }

    &--5 {
      top: 180px;
      left: -50px;
      animation: elemVibrate 4s linear 0.3s infinite normal forwards;
    }

    &--6 {
      top: 280px;
      left: 100px;
      animation: elemRotateTopLeft 4s linear 0.3s infinite normal forwards;
    }

    &--7 {
      top: 240px;
      left: 30px;
      animation: elemRotateTopLeft 4s linear 0.3s infinite normal forwards;
    }

    &--8 {
      top: 265px;
      left: -70px;
      animation: elemRotateBottomRight 3s linear 0.3s infinite normal forwards;
    }

    &--9 {
      top: 295px;
      left: -110px;
      animation: elemRotateBottomRight 4s linear 0.3s infinite normal forwards;
    }

    &--10 {
      top: 250px;
      left: -20px;
      animation: elemRotateBottomRight 3s linear 0.3s infinite normal forwards;
    }

    &--11 {
      top: 285px;
      left: 5px;
      animation: elemVibrate 3s linear 0.3s infinite normal forwards;
    }

    &--12 {
      top: 300px;
      left: -50px;
      animation: elemRotate 4s linear 0.3s infinite normal forwards;
    }
  }
}
