@mixin computer {
  @keyframes computer {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }
}

@mixin arm {
  @keyframes arm {
    0%,
    100% {
      transform: rotate(0);
      transform-origin: 10% 90%;
    }
    50% {
      transform: rotate(8deg);
      transform-origin: 10% 90%;
    }
  }
}

@mixin elemRotateBottomRight {
  @keyframes elemRotateBottomRight {
    0% {
      transform: translate(0) translateY(0) rotate(0);
      animation-timing-function: ease-in-out;
    }
    50% {
      transform: translate(12px) translateY(-10px) rotate(28deg);
      animation-timing-function: ease-in-out;
    }
    100% {
      transform: translate(0) translateY(0) rotate(0);
    }
  }
}

@mixin elemRotateTopRight {
  @keyframes elemRotateTopRight {
    0% {
      transform: translate(0) translateY(0) rotate(0);
      animation-timing-function: ease-in-out;
    }

    50% {
      transform: translate(12px) translateY(13px) rotate(35deg);
      animation-timing-function: ease-in-out;
    }
    100% {
      transform: translate(0) translateY(0) rotate(0);
    }
  }
}

@mixin elemRotateTopLeft {
  @keyframes elemRotateTopLeft {
    0% {
      transform: translate(0) translateY(0) rotate(0);
      animation-timing-function: ease-in-out;
    }

    50% {
      transform: translate(-12px) translateY(13px) rotate(-35deg);
      animation-timing-function: ease-in-out;
    }
    100% {
      transform: translate(0) translateY(0) rotate(0);
    }
  }
}

@mixin elemRotate {
  @keyframes elemRotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin elemVibrate {
  @keyframes elemVibrate {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(5px, -5px);
    }
    40% {
      transform: translate(5px, 5px);
    }
    60% {
      transform: translate(-5px, 5px);
    }
    80% {
      transform: translate(-5px, -5px);
    }
    100% {
      transform: translate(0);
    }
  }
}

@mixin elemTwinkle {
  @keyframes elemTwinkle {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }
}

@mixin tariffsElemAnimation {
  @keyframes tariffsElemAnimation {
    0%,
    100% {
      transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      transform: translateY(8px);
    }
    80% {
      transform: translateY(6.4px);
    }
    90% {
      transform: translateY(-6.4px);
    }
  }
}

@mixin pulse-btn-bg {
  @keyframes pulse-btn-bg {
    100% {
      box-shadow: 0 0 0 45px rgba(193, 244, 246, 0);
    }
  }
}

@mixin shine {
  @keyframes shine {
    0% {
      transform: translate(-100%, -25%) rotate(10deg);
    }
    20% {
      transform: translate(100%, -25%) rotate(10deg);
    }
    100% {
      transform: translate(100%, -25%) rotate(10deg);
    }
  }
}

@mixin updown {
  @keyframes updown {
    50% {
      transform: translateY(-20px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

@mixin pulse {
  @keyframes pulse {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
}

@mixin fillAnimation {
  @keyframes fillAnimation {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
}
