<section class="answers" id="answers">
  <div class="container">
    <h2 class="answers__title title">Вопросы и ответы</h2>
    <div class="answers__accordions accordion">
      <div class="accordion accordion--1">
        <button class="accordion__control btn-reset">
          <span class="accordion__wrapper">
            <span class="accordion__title">Я гуманитарий/не знаю английского/слишком стар/нет никакого опыта. Я точно
              справлюсь с этим?
            </span>
            <span class="accordion__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#accordion-icon"></use>
              </svg>
            </span>
          </span>
          <span class="accordion__content">
            <span class="accordion__descr descr">Среди учеников, которые прошли через нашу академию, были люди
              разного
              возраста, начиная с 14 и заканчивая 35+. Они занимались различными видами деятельности - студенты,
              фрилансеры, наемные работники, и имели разную профессиональную направленность - гуманитарии и
              технари.
              Некоторые из них уже имели определенные знания в английском языке, тогда как другие приходили с 0
              английским.
              Среди учеников были разные люди, те, кто достигал значительных результатов, имели одно общее
              качество - у
              них было желание изменить свою жизнь. Независимо от того, насколько вы отстаете на данный момент,
              самое
              важное - это определить, к какой точке вы хотите прийти. Наша академия предоставляет все
              необходимые
              инструменты и обратную связь, чтобы помочь вам достичь своей цели. Мы ожидаем только, что вы
              будете готовы
              работать и будете дисциплинированы в своих усилиях.</span>
          </span>
        </button>
      </div>
      <div class="accordion accordion--2 is-open">
        <button class="accordion__control btn-reset">
          <span class="accordion__wrapper">
            <span class="accordion__title">Подойдет ли это конкретно мне?</span>
            <span class="accordion__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#accordion-icon"></use>
              </svg>
            </span>
          </span>
          <span class="accordion__content">
            <span class="accordion__descr descr">Изучив этот навык, вы откроете для себя огромное количество
              возможностей,
              начиная от серьезных, таких как полная смена деятельности, и заканчивая интересными хобби. С помощью этого
              навыка вы сможете увеличить свой заработок, найти удаленную работу, начать строить бизнес, реализовывать
              свои идеи создавая игры или приложения, автоматизировать процессы на текущей работе и освободить себе
              немного времени, получить повышение и многое другое. Возможностей очень много, и мы уверены, что вы
              найдете как минимум одну, которая подойдет именно вам.</span>
          </span>
        </button>
      </div>
      <div class="accordion accordion--3">
        <button class="accordion__control btn-reset">
          <span class="accordion__wrapper">
            <span class="accordion__title">Сколько я смогу зарабатывать?</span>
            <span class="accordion__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#accordion-icon"></use>
              </svg>
            </span>
          </span>
          <span class="accordion__content">
            <span class="accordion__descr descr">Смотря, какую цель вы перед собой ставите, если ваша цель - сменить
              сферу
              деятельности, то начиная с позиции Junior (младший) разработчика можно зарабатывать от 500 до 1000
              долларов без знания английского языка. Если же вы хорошо знаете английский, то вы можете попробовать
              устроиться в англоязычные компании, где зарплата на ту же позицию будет гораздо выше.</span>
          </span>
        </button>
      </div>
      <div class="accordion accordion--4">
        <button class="accordion__control btn-reset">
          <span class="accordion__wrapper">
            <span class="accordion__title">Сколько длится обучение?</span>
            <span class="accordion__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#accordion-icon"></use>
              </svg>
            </span>
          </span>
          <span class="accordion__content">
            <span class="accordion__descr descr">Продолжительность первой ступени составляет 3-4 месяца. За это время вы
              освоите всю необходимую базу в мире программирования с нуля, напишите несколько выпускных проектов,
              напишите свое собственное приложение или игру под нашим кураторством и сможете определиться с направлением
              будущего развития.</span>
          </span>
        </button>
      </div>
      <div class="accordion accordion--5">
        <button class="accordion__control btn-reset">
          <span class="accordion__wrapper">
            <span class="accordion__title">Создание своего приложения или игры в конце обучения, как это
              происходит?</span>
            <span class="accordion__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#accordion-icon"></use>
              </svg>
            </span>
          </span>
          <span class="accordion__content">
            <span class="accordion__descr descr">После прохождения основного курса у каждого, кто начал обучение на
              тарифе
              "Профи" и выше, будет возможность реализовать свою идею приложения или игры. Как это будет происходить?
              Изначально мы вместе со студентом выберем идею, которую будем реализовывать, основываясь на технической
              сложности. Поможем создать понятный план реализации и выделим точки контроля. На каждом этапе мы будем
              давать обратную связь и оказывать всестороннюю поддержку. На протяжении всего процесса реализации мы
              будем
              отвечать на вопросы и давать обратную связь по написанному коду.</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
