<section class="benefits">
  <div class="container">
    <div class="benefits__decor">
      <div class="benefits__decor-wrapper">
        <img class="benefits__decor-bg benefits__decor-bg--1" src="img/benefits/decor-1.svg" alt="" aria-hidden="true"
          width="442" height="268">
        <img class="benefits__decor-bg benefits__decor-bg--2" src="img/benefits/decor-2.svg" alt="" aria-hidden="true"
          width="27" height="20">
        <img class="benefits__decor-bg benefits__decor-bg--3" src="img/benefits/decor-3.svg" alt="" aria-hidden="true"
          width="50" height="50">
        <img class="benefits__decor-bg benefits__decor-bg--4" src="img/benefits/decor-4.svg" alt="" aria-hidden="true"
          width="15" height="18">
        <img class="benefits__decor-bg benefits__decor-bg--5" src="img/benefits/decor-5.svg" alt="" aria-hidden="true"
          width="15" height="22">
        <img class="benefits__decor-bg benefits__decor-bg--6" src="img/benefits/decor-6.svg" alt="" aria-hidden="true"
          width="15" height="41">
        <img class="benefits__decor-bg benefits__decor-bg--7" src="img/benefits/decor-7.svg" alt="" aria-hidden="true"
          width="8" height="8">
        <img class="benefits__decor-bg benefits__decor-bg--8" src="img/benefits/decor-8.svg" alt="" aria-hidden="true"
          width="21" height="4">
        <img class="benefits__decor-bg benefits__decor-bg--9" src="img/benefits/decor-9.svg" alt="" aria-hidden="true"
          width="50" height="50">
      </div>
    </div>
    <h2 class="benefits__title title">Почему именно с нами ты сможешь добиться реальных результатов?</h2>
    <ul class="benefits__list list-reset">
      <li class="benefits__item benefits__item--one">
        <div class="benefits__content">
          <h3 class="benefits__subtitle">Автоматическая проверка</h3>
          <p class="benefits__descr descr">Для того чтобы реально освоить навык программирования необходимо большое
            количество практики</p>
        </div>
        <div class="benefits__video video-block">
          <button class="video-block__play btn-reset" aria-label="Play Video">
            <svg>
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
          </button>
          <video class="video-block__content" src="video-stage.mp4" muted loop preload="metadata" width="449"
            height="216" poster="img/benefits/poster-video-1.jpg"></video>
        </div>
      </li>
      <li class="benefits__item benefits__item--two">
        <div class="benefits__content">
          <h3 class="benefits__subtitle">Поддержка кураторов</h3>
          <p class="benefits__descr descr">Самый глупый вопрос - не заданный</p>
        </div>
        <div class="benefits__video video-block">
          <button class="video-block__play btn-reset" aria-label="Play Video">
            <svg>
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
          </button>
          <video class="video-block__content" src="video-stage.mp4" muted loop preload="metadata" width="449"
            height="216" poster="img/benefits/poster-video-2.jpg"></video>
        </div>
      </li>
      <li class="benefits__item benefits__item--three">
        <div class="benefits__content">
          <h3 class="benefits__subtitle">Искусственный интеллект помощник</h3>
          <p class="benefits__descr descr">Возможность задавать вопросы 24/7 и получать на них развернутый ответ</p>
        </div>
        <div class="benefits__video video-block">
          <button class="video-block__play btn-reset" aria-label="Play Video">
            <svg>
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
          </button>
          <video class="video-block__content" src="video-stage.mp4" muted loop preload="metadata" width="449"
            height="216" poster="img/benefits/poster-video-3.jpg"></video>
        </div>
      </li>
      <li class="benefits__item benefits__item--four">
        <div class="benefits__content">
          <h3 class="benefits__subtitle">Еженедельные встречи</h3>
          <p class="benefits__descr descr">Возможность обсудить любые вопросы в живую с куратором
          </p>
        </div>
        <div class="benefits__video video-block">
          <button class="video-block__play btn-reset" aria-label="Play Video">
            <svg>
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
          </button>
          <video class="video-block__content" src="video-stage.mp4" muted loop preload="metadata" width="449"
            height="216" poster="img/benefits/poster-video-4.jpg"></video>
        </div>
      </li>
    </ul>
  </div>
</section>
