<footer class="footer">
  <div class="container">
    <a class="footer__logo logo">
      <img class="footer__image" src="img/logo.svg" alt="GameDev Academy Логотип" loading="lazy" width="263"
        height="34">
    </a>
    <div class="footer__wrapper">
      <div class="footer__content">
        <p class="footer__descr">Компания зарегистрирована официально и полностью соответствует требованиям
          законодательства. Мы гарантируем высокое
          качество наших продуктов и услуг, а также строго соблюдаем все правила и нормы, установленные в нашей отрасли.
        </p>
        <p class="footer__descr">Мы также предоставляем нашим клиентам договор оферты, в котором чётко и прозрачно
          описываются условия нашего
          сотрудничества. Мы ценим доверие наших клиентов и всегда стремимся обеспечить им максимальную защиту и комфорт
          при работе с нами.</p>
        <p class="footer__descr">Если у вас возникли какие-либо вопросы или предложения, пожалуйста, не стесняйтесь
          обращаться к нашей команде поддержки,
          мы всегда готовы помочь вам в любой ситуации. Спасибо, что выбрали нашу компанию!</p>
      </div>
      <div class="footer__contacts">
        <h2 class="footer__contacts-title">Контакты</h2>
        <a class="footer__contacts-phone" href="tel:+7495042-55-66">Телефон: +7 (495) 042-55-66</a>
        <a class="footer__contacts-mail" href="mailto:support@gamedev.cc">Почта: support@gamedev.cc</a>
        <ul class="footer__contacts-list list-reset">
          <li class="footer__contacts-item">
            <a class="footer__contacts-link footer__contacts-link--insta" href="https://www.instagram.com/n.papkov/"
              target="_blank" aria-label="Instagram"></a>
          </li>
          <li class="footer__contacts-item">
            <a class="footer__contacts-link footer__contacts-link--tg" href="https://t.me/gamedev_academy_news"
              target="_blank" aria-label="Telegram"></a>
          </li>
          <li class="footer__contacts-item">
            <a class="footer__contacts-link footer__contacts-link--youtube" href="https://youtube.com/@gamedev_academy"
              target="_blank" aria-label="Youtube"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <a class="to-top to-top--active" href="#header" aria-label="Scroll to top">
    <span class="to-top__icon">
      <svg>
        <use xlink:href="img/sprite.svg#to-top"></use>
      </svg>
    </span>
  </a>
</footer>
