<header class="header" id="header">
  <div class="header__container container">
    <a class="header__logo logo">
      <img class="header__image" src="img/logo.svg" alt="GameDev Academy Логотип" loading="lazy" width="263"
        height="34">
    </a>
    <nav class="header__nav nav" title="Основное меню" data-menu>
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#main" data-scroll data-menu-item class="nav__link">Главная</a></li>
        <li class="nav__item">
          <a href="#steps" data-scroll data-menu-item class="nav__link">Этапы</a></li>
        <li class="nav__item">
          <a href="#feedback" data-scroll data-menu-item class="nav__link">Обратная связь</a></li>
        <li class="nav__item">
          <a href="#benefits" data-scroll data-menu-item class="nav__link">Преимущества</a></li>
        <li class="nav__item">
          <a href="#tariffs" data-scroll data-menu-item class="nav__link">Тарифы</a></li>
        <li class="nav__item">
          <a href="#reviews" data-scroll data-menu-item class="nav__link">Отзывы</a></li>
        <li class="nav__item">
          <a href="#answers" data-scroll data-menu-item class="nav__link">FAQ</a></li>
      </ul>
    </nav>
  </div>
</header>
