<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <span class="hero__course">Онлайн-курс</span>
      <h1 class="hero__title">Обучение с полного нуля до трудоустройства
        в IT сфере</h1>
      <p class="hero__descr">Курс разработан для тех, кто хочет сменить профессию и стать высокооплачиваемым
        профессионалом. Он подойдёт для работающих людей, у которых мало времени</p>
      <button class="hero__btn btn btn-reset">начать обучение</button>
    </div>
    <div class="hero__icon">
      <img class="hero__icon-bg hero__icon-bg--1" src="img/hero-bg/vector-1.svg" alt="" aria-hidden="true"
        loading="lazy" width="35" height="35">
      <img class="hero__icon-bg hero__icon-bg--2" src="img/hero-bg/vector-2.svg" alt="" aria-hidden="true"
        loading="lazy" width="120" height="110">
      <img class="hero__icon-bg hero__icon-bg--3" src="img/hero-bg/vector-3.svg" alt="" aria-hidden="true"
        loading="lazy" width="103" height="111">
      <img class="hero__icon-bg hero__icon-bg--4" src="img/hero-bg/vector-4.svg" alt="" aria-hidden="true"
        loading="lazy" width="17" height="17">
      <img class="hero__icon-bg hero__icon-bg--5" src="img/hero-bg/vector-5.svg" alt="" aria-hidden="true"
        loading="lazy" width="80" height="14">
    </div>
  </div>
  <div class="hero__timer">
    <div class="container">
      
    </div>
  </div>
</section>
