<section class="reviews" id="reviews">
  <div class="container">
    <div class="reviews__decor">
      <div class="reviews__decor-wrapper">
        <img class="reviews__decor-bg reviews__decor-bg--1" src="img/reviews/decor-1.svg" alt="" aria-hidden="true"
          width="160" height="160">
        <img class="reviews__decor-bg reviews__decor-bg--2" src="img/reviews/decor-1.svg" alt="" aria-hidden="true"
          width="120" height="120">
        <img class="reviews__decor-bg reviews__decor-bg--3" src="img/reviews/decor-1.svg" alt="" aria-hidden="true"
          width="140" height="140">
        <img class="reviews__decor-bg reviews__decor-bg--4" src="img/reviews/decor-1.svg" alt="" aria-hidden="true"
          width="80" height="80">
        <img class="reviews__decor-bg reviews__decor-bg--5" src="img/reviews/decor-1.svg" alt="" aria-hidden="true"
          width="120" height="120">
        <img class="reviews__decor-bg reviews__decor-bg--6" src="img/reviews/decor-1.svg" alt="" aria-hidden="true"
          width="80" height="80">
      </div>
    </div>
    <h2 class="reviews__title title">Отзывы</h2>
    <ul class="reviews__list list-reset">
      <li class="reviews__item">
        <div class="rivews__video video-block">
          <button class="video-block__play btn-reset" aria-label="Play Video">
            <svg>
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
          </button>
          <video class="video-block__content" src="video-stage.webm" muted loop preload="metadata" width="555"
            height="298" poster="img/reviews/poster-video-1.jpg"></video>
        </div>
        <div class="reviews__content">
          <span class="reviews__name">Макс</span>
          <p class="reviews__descr descr">Я проходил обучение в компании, которая занимается подготовкой программистов
            в GameDev Academy, и могу сказать, что это был незабываемый опыт. Преподаватели были профессионалами своего
            дела и всегда готовы были помочь с любыми вопросами. Материал был структурирован и понятен, что позволяло
            быстро усваивать новые знания.</p>
        </div>
      </li>
      <li class="reviews__item">
        <div class="rivews__video video-block">
          <button class="video-block__play btn-reset" aria-label="Play Video">
            <svg>
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
          </button>
          <video class="video-block__content" src="video-stage.webm" muted loop preload="metadata" width="555"
            height="298" poster="img/reviews/poster-video-2.jpg"></video>
        </div>
        <div class="reviews__content">
          <span class="reviews__name">Дима</span>
          <p class="reviews__descr descr">Обучение проходит на высоком уровне, преподаватели знают свою работу и делают
            все возможное, чтобы помочь своим студентам. Кроме того, компания предоставляет возможность проходить
            практику
            в реальных проектах, что помогает лучше понимать, как работает индустрия GameDev. В целом, это отличная
            компания для тех, кто хочет научиться программированию.</p>
        </div>
      </li>
    </ul>
    <a class="reviews__link btn btn--stroke" href="https://www.instagram.com/n.papkov/" target="_blank"
      aria-label="посмотреть все отзывы в инстаграмм">посмотреть все
      отзывы в инстаграмм</a>
  </div>
</section>
