<div class="graph-modal">
  <div class="graph-modal__container site-modal" role="dialog" aria-modal="true" data-graph-target="first">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <p class="site-modal__descr">
        <span class="site-modal__descr site-modal__descr--bold">Оставь заявку на консультацию</span>
        прямо сейчас и если ты примешь решение в течении суток, то 
        <span class="site-modal__descr site-modal__descr--bold site-modal__descr--bg">получишь скидку 20%</span>
        <span class="site-modal__descr site-modal__descr--bold"> на любой тариф</span>
      </p>
      <div class="site-modal__timer timer">
        <h2 class="timer__title">До конца акции осталось:</h2>
        <div class="timer__content">
          <div class="timer__item timer__item-day">
            <span class="timer__value">00</span>
            <span class="timer__text">дней</span>
          </div>
          <div class="timer__separator">:</div>
          <div class="timer__item timer__item-hrs">
            <span class="timer__value">00</span>
            <span class="timer__text">часов</span>
          </div>
          <div class="timer__separator">:</div>
          <div class="timer__item timer__item-mins">
            <span class="timer__value">00</span>
            <span class="timer__text">минут</span>
          </div>
        </div>
      </div>
      <div class="site-modal__apply apply">
        <form class="apply__form">
          <label class="apply__label" for="input-name-steps1" aria-label="Введите ваше имя">
            <input class="apply__input input-reset input-name" id="input-name-steps1" type="text" name="name"
              placeholder="Твое имя" aria-required="true" aria-label="Поле для ввода вашего имени">
          </label>
          <label class="apply__label" for="input-tel-steps1" aria-label="Введите ваш телефон">
            <input class="apply__input input-reset input-tel" id="input-tel-steps1" type="tel" name="phone"
              placeholder="Телефон" aria-required="true" aria-label="Поле для ввода вашего номера телефона">
          </label>
          <button class="apply__btn btn btn-reset" type="submit" aria-label="Отправить заявку">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>
