<section class="stage stage-two">
  <div class="container">
    <div class="stage__wrapper">
      <div class="stage__content">
        <p class="stage__step">2 ступень</p>
        <h2 class="stage__title title">Как работает обучение до трудоустройства?</h2>
        <p class="stage__descr descr">В видео рассказываем, как проходит обучение на второй ступени, про возможности,
          которые открываются, а также про нашу систему подачи информации, благодаря которой мы обучаем сфере разработки
          игр с гарантией
          трудоустройства после обучения.</p>
        <p class="stage__text">Подробнее можно узнать в видео</p>
      </div>
      <div class="stage__video video-block">
        <button class="video-block__play btn-reset" type="button" aria-describedby="video-description-stage-2"
          aria-label="Воспроизвести видео">
          <svg>
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
        <video class="video-block__content" src="video-stage.webm" muted loop preload="metadata" width="555"
          height="382"></video>
        <p class="visually-hidden" id="video-description-stage-2">Человек печатает на клавиатуре</p>
      </div>
    </div>
    <div class="stage__apply apply">
      <h2 class="apply__title title">Начни свой путь в IT с нашей помощью!</h2>
      <form class="apply__form">
        <p class="apply__descr">Оставь заявку на консультацию, где ты сможешь задать все интересующие тебя вопросы
          касаемо нашего обучения</p>
        <label class="apply__label" for="input-name-stage2" aria-label="Введите ваше имя">
          <input class="apply__input input-reset input-name" id="input-name-stage2" type="text" name="name"
            placeholder="Твое имя" required aria-required="true" aria-label="Поле для ввода вашего имени">
        </label>
        <label class="apply__label" for="input-tel-stage2" aria-label="Введите ваш телефон">
          <input class="apply__input input-reset input-tel" id="input-tel-stage2" type="tel" name="phone" placeholder="Телефон"
            required aria-required="true" aria-label="Поле для ввода вашего номера телефона">
        </label>
        <div class="apply__contact">
          <button class="apply__btn btn btn-reset" type="submit" aria-label="Отправить заявку">Отправить</button>
          <div class="apply__social">
            <p class="apply__text">или свяжитесь с нами в мессенджерах</p>
            <div class="apply__links">
              <a class="apply__link apply__link--insta" href="https://www.instagram.com/n.papkov/" target="_blank"
                aria-label="Instagram"></a>
              <a class="apply__link apply__link--tg" href="https://t.me/gamedev_academy_news" target="_blank"
                aria-label="Telegram"></a>
            </div>
          </div>
        </div>
        <div class="apply__terms">
          <label class="apply__label custom-checkbox" for="input-checkbox-stage2" aria-label="Нажмите для принятий условий">
            <input class="custom-checkbox__input" id="input-checkbox-stage2" required aria-required="true"
              aria-label="Нажимая на кнопку, вы соглашаетесь с условиями передачи информации." type="checkbox">
            <span class="custom-checkbox__text">Я принимаю условия передачи информации</span>
          </label>
        </div>
      </form>
      <div class="stage__image-wrapper">
        <img class="stage__image-bg stage__image-bg--1" src="img/stage/decor-5.svg" alt="" aria-hidden="true"
          width="230" height="180">
        <img class="stage__image-bg stage__image-bg--2" src="img/stage/decor-6.svg" alt="" aria-hidden="true" width="50"
          height="50">
        <img class="stage__image-bg stage__image-bg--3" src="img/stage/decor-7.svg" alt="" aria-hidden="true"
          width="115" height="100">
        <img class="stage__image-bg stage__image-bg--4" src="img/stage/decor-4.svg" alt="" aria-hidden="true" width="15"
          height="15">
        <img class="stage__image-bg stage__image-bg--5" src="img/stage/decor-8.svg" alt="" aria-hidden="true" width="30"
          height="30">
        <img class="stage__image-bg stage__image-bg--6" src="img/stage/decor-9.svg" alt="" aria-hidden="true" width="43"
          height="43">
        <img class="stage__image-bg stage__image-bg--7" src="img/stage/decor-10.svg" alt="" aria-hidden="true"
          width="20" height="20">
        <img class="stage__image-bg stage__image-bg--8" src="img/stage/decor-11.svg" alt="" aria-hidden="true"
          width="25" height="25">
        <img class="stage__image-bg stage__image-bg--9" src="img/stage/decor-12.svg" alt="" aria-hidden="true"
          width="50" height="50">
        <img class="stage__image-bg stage__image-bg--10" src="img/stage/decor-13.svg" alt="" aria-hidden="true"
          width="30" height="30">
      </div>
    </div>
  </div>
</section>
