<section class="stage">
  <div class="container">
    <div class="stage__decor">
      <div class="stage__decor-wrapper">
        <img class="stage__decor-bg stage__decor-bg--1" src="img/stage/decor-1.svg" alt="" width="127" height="137"
          aria-hidden="true">
        <img class="stage__decor-bg stage__decor-bg--2" src="img/stage/decor-2.svg" alt="" width="120" height="110"
          aria-hidden="true">
        <img class="stage__decor-bg stage__decor-bg--3" src="img/stage/decor-3.svg" alt="" width="80" height="14"
          aria-hidden="true">
        <img class="stage__decor-bg stage__decor-bg--4" src="img/stage/decor-4.svg" alt="" width="17" height="17"
          aria-hidden="true">
      </div>
    </div>
    <h2 class="visually-hidden">Наша методология и программа</h2>
    <div class="stage__wrapper">
      <div class="stage__content">
        <span class="stage__step">1 ступень</span>
        <h3 class="stage__title title">Никакой воды и куча практики.</h3>
        <p class="stage__descr descr">Мы даем только практически применимые знания. Нет ничего, что не пригодилось бы в
          реальной практике. Средняя продолжительность видеоуроков - 10 минут, что позволяет очень эффективно
          воспринимать
          новую информацию. Никаких часовых видео, после которых закипает голова. Мы умеем объяснять сложные вещи
          простым
          языком. А также огромное количество практики, ведь изучить программирование просто по видео нереально.</p>
      </div>
      <iframe class="stage__video" width="555" height="382" src="https://www.youtube.com/embed/yYLS6FNv2vs"
        frameborder="0" allowfullscreen allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
        picture-in-picture; web-share" loading="lazy" title="Наша методология и программа"></iframe>
    </div>
  </div>
</section>
