<section class="stage">
  <div class="container">
    <div class="stage__decor">
      <div class="stage__decor-wrapper">
        <img class="stage__decor-bg stage__decor-bg--1" src="img/stage/decor-1.svg" alt="" width="127" height="137"
          aria-hidden="true">
        <img class="stage__decor-bg stage__decor-bg--2" src="img/stage/decor-2.svg" alt="" width="120" height="110"
          aria-hidden="true">
        <img class="stage__decor-bg stage__decor-bg--3" src="img/stage/decor-3.svg" alt="" width="80" height="14"
          aria-hidden="true">
        <img class="stage__decor-bg stage__decor-bg--4" src="img/stage/decor-4.svg" alt="" width="17" height="17"
          aria-hidden="true">
      </div>
    </div>
    <h2 class="visually-hidden">Наша методология и программа</h2>
    <div class="stage__wrapper">
      <div class="stage__content">
        <span class="stage__step">1 ступень</span>
        <h3 class="stage__title title">Никакой воды и куча практики.</h3>
        <p class="stage__descr descr">Мы даем только практически применимые знания. Нет ничего, что не пригодилось бы в
          реальной практике. Средняя продолжительность видеоуроков - 10 минут, что позволяет очень эффективно
          воспринимать
          новую информацию. Никаких часовых видео, после которых закипает голова. Мы умеем объяснять сложные вещи
          простым
          языком. А также огромное количество практики, ведь изучить программирование просто по видео нереально.</p>
      </div>
      <div class="stage__video video-block">
        <button class="video-block__play btn-reset" aria-label="Play Video">
          <svg>
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
        <video class="video-block__content" src="video-stage.mp4" muted loop preload="metadata" width="555"
          height="382"></video>
      </div>
    </div>
  </div>
</section>
