<section class="stage stage--two">
  <div class="stage__container container">
    <div class="stage__content">
      <span class="stage__step">2 ступень</span>
      <h2 class="stage__title title">Как работает обучение до трудоустройства?</h2>
      <p class="stage__descr descr">В видео рассказываем, как проходит обучение на второй ступени, про возможности,
        которые открываются, а также про нашу систему подачи информации, благодаря которой мы обучаем сфере разработки
        игр с гарантией
        трудоустройства после обучения.</p>
       <p class="stage__text">Подробнее можно узнать в видео</p>
    </div>
    <iframe class="stage__video" width="555" height="382" src="https://www.youtube.com/embed/Uejl7h9ATLY"
      frameborder="0" allowfullscreen loading="lazy"></iframe>
  </div>
</section>
