<section class="stage stage--one">
  <div class="stage__container container">
    <div class="stage__content">
      <span class="stage__step">1 ступень</span>
      <h2 class="stage__title title">Обучение в сфере Game Dev с гарантией</h2>
      <p class="stage__descr descr">На первой ступени вам предстоит погрузиться в мир разработки игр, изучить игровой
        движок Unity, самостоятельно сделать свои первые игры, поработать над крупным проектом большой командой
        и ещё много всего</p>
    </div>
    <div class="stage__video video-block">
      <button class="video-block__play btn-reset" aria-label="Play Video">
        <svg>
          <use xlink:href="img/sprite.svg#play"></use>
        </svg>
      </button>
      <video class="video-block__content" src="video-stage.mp4" muted loop preload="metadata" width="555" height="382"
        poster="img/stage/poster-video.jpg"></video>
    </div>
  </div>
  <div class="stage__decor">
    <img class="stage__decor-bg stage__decor-bg--1" src="img/stage/decor-1.svg" alt="" width="127" height="137"
      aria-hidden="true">
    <img class="stage__decor-bg stage__decor-bg--2" src="img/stage/decor-2.svg" alt="" width="120" height="110"
      aria-hidden="true">
    <img class="stage__decor-bg stage__decor-bg--3" src="img/stage/decor-3.svg" alt="" width="80" height="14"
      aria-hidden="true">
    <img class="stage__decor-bg stage__decor-bg--4" src="img/stage/decor-4.svg" alt="" width="17" height="17"
      aria-hidden="true">
  </div>
</section>
