<section class="steps">
  <div class="container">
    <h2 class="steps__title title">Как начать свой путь в IT?</h2>
  </div>
  <div class="container-fluid">
    <ul class="steps__list list-reset">
      <li class="steps__item">
        <div class="steps__wrapper steps__wrapper--one">
          <div class="steps__content">
            <h3 class="steps__subtitle">Нулевое знание программирования</h3>
            <p class="steps__text descr">Начинаем плавное введение в мир программирования чтобы любой, кто до этого
              момента ни разу не сталкивался с программированием мог чувствовать себя уверенно</p>
          </div>
        </div>
        <div class="steps__inner steps__inner--one">
          <img class="steps__image" src="img/steps/steps-planet1.svg" alt="" aria-hidden="true" loading="lazy"
            width="160" height="177">
        </div>
      </li>
      <li class="steps__item">
        <div class="steps__wrapper steps__wrapper--two">
          <div class="steps__content">
            <h3 class="steps__subtitle">Спустя 3 месяца обучения</h3>
            <p class="steps__text descr">Через 3 месяца обучения, ты изучишь всю необходимую базу и закрепишь её на
              более
              чем 300 практических заданиях и тестах, а так же напишешь свои первые приложения и игры</p>
          </div>
        </div>
        <div class="steps__inner steps__inner--two">
          <img class="steps__image" src="img/steps/steps-planet2.svg" alt="" aria-hidden="true" loading="lazy"
            width="208" height="237">
        </div>
      </li>
      <li class="steps__item">
        <div class="steps__wrapper steps__wrapper--three">
          <div class="steps__content">
            <h3 class="steps__subtitle">Определяемся со сферой</h3>
            <p class="steps__text descr">Как только ты изучил всю необходимую базу ты можешь выбрать сферу, в которой
              тебе
              интересно будет развиваться самостоятельно или же пойти к нам на вторую ступень где мы гарантируем
              обучение
              до трудоустройства в Game Dev сфере</p>
          </div>
        </div>
        <div class="steps__inner steps__inner--three">
          <img class="steps__image" src="img/steps/steps-planet3.svg" alt="" aria-hidden="true" loading="lazy"
            width="235" height="231">
        </div>
      </li>
      <li class="steps__item">
        <div class="steps__wrapper steps__wrapper--four">
          <div class="steps__content">
            <h3 class="steps__subtitle">Сфера разработки игр</h3>
            <p class="steps__text descr">Если ты выбираешь эту сферу и приходишь к нам на вторую ступень —
              мы гарантируем
              тебе обучение до трудоустройства. Подробнее про вторую ступень ты сможешь прочитать чуть ниже;)</p>
          </div>
        </div>
        <div class="steps__inner steps__inner--four">
          <img class="steps__image" src="img/steps/steps-planet4.svg" alt="" aria-hidden="true" loading="lazy"
            width="301" height="285">
        </div>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="steps__apply apply">
      <h4 class="apply__title title">Начни свой путь в IT с нашей помощью!</h4>
      <form class="apply__form">
        <p class="apply__descr">Оставь заявку на консультацию, где ты сможешь задать все интересующие тебя вопросы
          касаемо нашего обучения</p>
        <label class="apply__label">
          <input class="apply__input input-reset" type="text" name="name" placeholder="Твое имя">
        </label>
        <label class="apply__label">
          <input class="apply__input input-reset" type="tel" name="phone" placeholder="Телефон">
        </label>
        <div class="apply__contact">
          <button class="apply__btn btn btn-reset">Отправить</button>
          <p class="apply__text">или свяжитесь с нами в мессенджерах</p>
          <div class="apply__links">
            <a class="apply__link" href="#" target="_blank" aria-label="Whatsapp"></a>
            <a class="apply__link" href="#" target="_blank" aria-label="Telegram"></a>
          </div>
        </div>
        <div class="apply__terms">
          <label class="apply__label custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox">
            <span class="custom-checkbox__text">Я принимаю условия передачи информации</span>
          </label>
        </div>
      </form>
    </div>
  </div>
</section>
