<section class="tariffs" id="tariffs">
  <div class="container">
    <div class="tariffs__decor">
      <div class="tariffs__decor-wrapper">
        <img class="tariffs__decor-bg tariffs__decor-bg--1" src="img/tariffs/decor-1.svg" alt="" aria-hidden="true"
          width="34" height="34">
        <img class="tariffs__decor-bg tariffs__decor-bg--2" src="img/tariffs/decor-2.svg" alt="" aria-hidden="true"
          width="80" height="14">
        <img class="tariffs__decor-bg tariffs__decor-bg--3" src="img/tariffs/decor-3.svg" alt="" aria-hidden="true"
          width="120" height="110">
        <img class="tariffs__decor-bg tariffs__decor-bg--4" src="img/tariffs/decor-4.svg" alt="" aria-hidden="true"
          width="56" height="60">
        <img class="tariffs__decor-bg tariffs__decor-bg--5" src="img/tariffs/decor-5.svg" alt="" aria-hidden="true"
          width="17" height="17">
      </div>
    </div>
    <div class="tariffs__images">
      <div class="tariffs__images-wrapper">
        <img class="tariffs__images-bg tariffs__images-bg--1" src="img/tariffs/decor-1.svg" alt="" aria-hidden="true"
          width="34" height="34">
        <img class="tariffs__images-bg tariffs__images-bg--2" src="img/tariffs/decor-2.svg" alt="" aria-hidden="true"
          width="80" height="14">
        <img class="tariffs__images-bg tariffs__images-bg--3" src="img/tariffs/decor-3.svg" alt="" aria-hidden="true"
          width="120" height="110">
        <img class="tariffs__images-bg tariffs__images-bg--4" src="img/tariffs/decor-5.svg" alt="" aria-hidden="true"
          width="17" height="17">
      </div>
    </div>
    <h2 class="tariffs__title title">Тарифы</h2>
    <ul class="tariffs__list list-reset">
      <li class="tariffs__item tariffs__item--standart">
        <div class="tariffs__info">
          <h3 class="tariffs__subtitle tariffs__subtitle--standart">Стандарт</h3>
          <span class="tariffs__descr">тариф</span>
        </div>
        <ul class="tariffs__sublist list-reset">
          <li class="tariffs__subitem tariffs__subitem--available">
            Доступ ко всем материалам на курсе
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Доступ к платформе на пол года
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Приложение тренажер
          </li>
          <li class="tariffs__subitem tariffs__subitem--unavailable">
            Общий чат со всеми студентами
          </li>
          <li class="tariffs__subitem tariffs__subitem--unavailable">
            Полный доступ к выпускным проектам
          </li>
          <li class="tariffs__subitem tariffs__subitem--unavailable">
            Доступ к AI помощнику на год
          </li>
          <li class="tariffs__subitem tariffs__subitem--unavailable">
            Возможность задавать вопросы кураторам на год
          </li>
          <li class="tariffs__subitem tariffs__subitem--unavailable">
            Еженедельные встречи онлайн
          </li>
          <li class="tariffs__subitem tariffs__subitem--unavailable">
            Выдаем сертификат обучения
          </li>
          <li class="tariffs__subitem tariffs__subitem--unavailable">
            Раз в месяц пройти собеседование
          </li>
        </ul>
        <span class="tariffs__price-old">24 900₽</span>
        <span class="tariffs__price-new">14 900₽</span>
        <button class="tariffs__btn btn btn--stroke btn-reset" data-graph-animation="custom" data-graph-path="first"
          aria-label="Приобрести">Приобрести</button>
        <p class="tariffs__text">Осталось 30 мест</p>
      </li>
      <li class="tariffs__item tariffs__item--expert">
        <div class="tariffs__info">
          <h3 class="tariffs__subtitle tariffs__subtitle--expert">Эксперт</h3>
          <span class="tariffs__descr">тариф</span>
        </div>
        <ul class="tariffs__sublist list-reset">
          <li class="tariffs__subitem tariffs__subitem--available">
            Доступ ко всем материалам на курсе
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Доступ к платформе на пол года
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Приложение тренажер
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Общий чат со всеми студентами
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Ограниченный доступ к выпускным проектам
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Доступ к AI помощнику на время обучения (4 месяца)
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Возможность задавать вопросы кураторам
          </li>
          <li class="tariffs__subitem tariffs__subitem--unavailable">
            Еженедельные встречи онлайн
          </li>
          <li class="tariffs__subitem tariffs__subitem--unavailable">
            Выдаем сертификат обучения
          </li>
          <li class="tariffs__subitem tariffs__subitem--unavailable">
            Раз в месяц пройти собеседование
          </li>
        </ul>
        <span class="tariffs__price-old">24 900₽</span>
        <span class="tariffs__price-new">14 900₽</span>
        <button class="tariffs__btn btn btn--stroke btn-reset" data-graph-animation="custom" data-graph-path="first"
          aria-label="Приобрести">Приобрести</button>
        <p class="tariffs__text">Осталось 30 мест</p>
      </li>
      <li class="tariffs__item tariffs__item--pro">
        <div class="tariffs__info">
          <h3 class="tariffs__subtitle tariffs__subtitle--pro">Профи</h3>
          <span class="tariffs__descr">тариф</span>
        </div>
        <ul class="tariffs__sublist list-reset">
          <li class="tariffs__subitem tariffs__subitem--available">
            Доступ ко всем материалам на курсе
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Доступ к платформе на пол года
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Приложение тренажер
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Общий чат со всеми студентами
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Ограниченный доступ к выпускным проектам
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Доступ к AI помощнику на время обучения (4 месяца)
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Возможность задавать вопросы кураторам
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Еженедельные встречи онлайн
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Выдаем сертификат обучения
          </li>
          <li class="tariffs__subitem tariffs__subitem--available">
            Раз в месяц пройти собеседование
          </li>
        </ul>
        <span class="tariffs__price-old">24 900₽</span>
        <span class="tariffs__price-new">14 900₽</span>
        <button class="tariffs__btn btn btn--stroke btn-reset" data-graph-animation="custom" data-graph-path="first"
          aria-label="Приобрести">Приобрести</button>
        <p class="tariffs__text">Осталось 30 мест</p>
      </li>
    </ul>
  </div>
</section>
