// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Gilroy", sans-serif;
  --added-family: "DatCub", sans-serif;
  --content-width: 1130px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --content-fluid-width: 1400px;
  --container-fluid-offset: 15px;
  --container-fluid-width: calc(
    var(--content-fluid-width) + (var(--container-fluid-offset) * 2)
  );

  // colors
  --light-color: #ffffff;
  --placeholder-color: #a4a4a4;
  --black-color: #000000;
  --modal-color: #171717;
  --bg-color: #3935bf;
  --emerald-color: #5ed19c;
  --gold-color: #ffd600;
  --mine-color: #343434;
  --border-color: #4642d6;
  --governor-color: #3231aa;
  --bluebell-color: #9492c3;

  //gradient
  --apply-gd-color: radial-gradient(
      57.17% 310.33% at 2.92% 90.62%,
      rgba(255, 214, 0, 0.23) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgba(0, 0, 0, 0.2);

  --timer-gd-color: radial-gradient(
      64.53% 420.41% at 86.74% 84.17%,
      rgba(97, 0, 255, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgba(0, 0, 0, 0.2);

  --standart-gd-color: radial-gradient(
      102.47% 51.8% at 50.14% 16.74%,
      rgba(255, 255, 255, 0.152) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgba(0, 0, 0, 0.3);

  --expert-gd-color: radial-gradient(
      102.47% 51.8% at 50.14% 16.74%,
      rgba(94, 209, 156, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgba(0, 0, 0, 0.3);

  --pro-gd-color: radial-gradient(
      102.47% 51.8% at 50.14% 16.74%,
      rgba(255, 214, 1, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgba(0, 0, 0, 0.3);
}
